<html>
<head>
	<title> CSS Basics! </title>
	<link rel="stylesheet" type="text/css" href="layout.css" media="screen" />
</head>

<body>
<header class="header">
	<div class="header__icon">Icon</div>
	<div class="header__title">Semantic Header</div>
</header>

<div class="left-side-bar">
	<span class="left-side-bar__title"> left side bar </span>
	<span class="left-side-bar__button--alert"> alert button </span>
	<span class="left-side-bar__button--normal"> alert button </span>
<br>
	<span class="title"> left side bar </span>
	<span class="button--alert"> alert button </span>
	<span class="button--normal"> alert button </span>
</div>

	<span class="body"> body </span>


	<footer class="footer">Semantic Footer</footer>
</body>

</html>
